
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.item {
    border: 1px solid rgb(247, 246, 246);
    width: 80px;
    height: 36px;
    border-radius: 10px;
    position: absolute;
    top: 40px;
    left: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.hearn {
    border: 1px solid rgb(165, 186, 70);
    width: 540px;
    height: 700px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.main {
    object-fit: cover;
    width: 500px;
    height: 300px;
    border-radius: 8%;
}
.main1 {
    margin-top: 15px;
    object-fit: cover;
    width: 50px;
    height: 50px;
    border-radius: 100%;
}
.name {
    position: absolute;
    top: 350px;
    left: 76px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}
.square {
    font-weight: bold;
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 10px;
}
.child {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 20px;
}
.child1 {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 10px;
}

